:root {
    --dark-background: #1F2937;
    --hero-grey: #E5E7EB;
    --hero-white: #F9FAF8;
    --button-blue: #3882F6;
    --text-black: #1F2937;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    /* border: 1px solid blue; */
}

/* Nav section */
nav {
    background-color: var(--dark-background);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 150px 15px 150px;
}

nav ul {
    list-style-type: none;
}

.nav-bar {
    display: flex;
}

.nav-bar a {
    font-weight: normal;
    text-decoration: none;
    align-items: center;
    margin: 10px;
}

/* Hero section */
.hero-second-text {
    color: var(--hero-grey);
    font-size: 18px;
}

.logo {
    color: var(--hero-white);
    font-size: 24px;
}

.hero {
    background-color: var(--dark-background);
    display: flex;
    padding: 100px 150px 100px 150px;
}

.hero-heading {
    color: var(--hero-white);
    font-size: 48px;
    margin-bottom: 5px;
}

.hero-left, .hero-right {
    width: 50%;
}

.hero-left {
    padding-right: 50px;
    box-sizing: border-box;
}

.sign-up-button {
    border-radius: 5px;
    color: var(--hero-white);
    background-color: var(--button-blue);
    text-decoration: none;
    padding: 7px 30px 7px 30px;
    display: inline-block;
    margin-top: 15px;
}

.hero-right {
    color: var(--hero-grey);
    background-color: rgb(134, 134, 134);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Info section */
.random-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 150px 80px 150px;
}

.random-info h2 {
    color: var(--text-black);
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 50px;
    text-align: center;
}

.thumbnails {
    display: flex;
    gap: 30px;
}

.thumbnails p {
    color: rgb(134, 134, 134);
    text-align: center;
    margin-top: 10px;
    width: 15vw;
}

.blue-box {
    width: 15vw;
    height: 15vw;
    border: 3px solid var(--button-blue);
    border-radius: 10px;
}

/* Quote section */
.quote {
    background-color: var(--hero-grey);
    padding-top: 100px;
    padding-bottom: 100px;
}

.quote p {
    font-style: italic;
    font-weight: 200;
    font-size: 36px;
    color: var(--text-black);
    margin: auto;
    width: 60%;
}

.quote h6 {
    font-size: 26px;
    width: 60%;
    margin: auto;
    text-align: right;
    padding-top: 30px;
}