* {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #dfd8d8;
    width: 70%;
    margin: auto;
    padding: 50px;
}

h1 {
    color: #ef5454;
    
}

h2 {
    color: hsl(0, 58%, 61%);
}

h3 {
    color: hwb(0 52% 13%);
}

h4 {
    color: rgb(226, 167, 167);
}

h1, h2, h3, h4 {
    text-align: center;
    padding: 10px;
}
